/build
/reports
/*/target
.classpath
.settings
.project

# intellij files and folders
*.iml
.idea

# timbuctoo acceptance test files
/timbuctoo-instancev4/src/spec/resources/database

# list of database migrations already executed on this system
executed-migrations.json

# debug run files
/timbuctoo-instancev4/docker/database
/timbuctoo-instancev4/docker/authorizations
