/reports
/*/target
.classpath
.settings
.project
/timbuctoo-instancev4/generated-sources

# intellij files and folders
*.iml
.idea

# debug run state (database, known users, authorizations)
/timbuctoo-instancev4/temp_for_debugrun

/documentation/output

# floobits workspace sharing tool
.floo
.flooignore

/devtools/run-with-services/database
/devtools/run-with-services/auth

# bazel symlinks
/bazel-*