build
reports
**/target
**/bin
**/.classpath
**/.settings
**/.project

# intellij files and folders
**/*.iml
**/.idea

# shade plugin output
**/dependency-reduced-pom.xml

# timbuctoo acceptance test files
**/database
