table {
  border-spacing: 2px;
  border: 1px outset #000;
  background-color: lightblue;
}

th, td {
  padding: 5px;
  border-spacing: 2px;
  border: 1px inset #000;
  text-align: left;
}

td.name {
  width: 100px;
}

td.number {
  width: 50px;
  text-align: right;
}
