table {
  border-spacing: 2px;
  border: 1px outset #000;
  background-color: lightblue;
}

table.outer {
  border-spacing: 0px;
  border: 0px;
}

th, td {
  padding: 5px;
  border-spacing: 2px;
  border: 1px inset #000;
  text-align: left;
}

td.name {
  width: 100px;
}

td.number {
  width: 50px;
  text-align: right;
}

td.column {
  padding-right: 50px;
  border: 0px;
  border-spacing: 0px;
  vertical-align: top;
  background-color: white;
}
