@charset "UTF-8";
/* CSS Document */



.basic-margin {
	margin-bottom:3em;
	}

.big-margin {
	margin-bottom:6em;
	}

.small-margin {
	margin-bottom:1em;
	}

.basic-padding {
	margin-top:3em;
	margin-bottom:3em;
	}


.h100 {
	height:100%;
	}

.hit-canvas{
	background-color:rgba(0,0,0,0.05);
	top:75px;
	left:20px;
	bottom:75px;
	right:20px;
	position:absolute;
	}

.hit-right-bar {
	width:320px;
	border-bottom:1px solid rgba(0,0,0,0.10);
	background-color:#FFFFFF;
	top:75px;
	bottom:75px;
	right:0px;
	position:absolute;
	display:block;
	
	}


.page-head {
	margin:20px 20px 20px 20px;
	}

.card-head {
	padding:20px;
	}

.card-title {
	padding-top:50px;
	}
	
.card-body {
	padding:20px;
	}

.card-footer {
	padding:20px;
	}



/* Bootstrap OVERRIDE */


	
.pagination {
    margin: 0px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  /* Set the fixed height of the footer here */

}

.white-bar {
	background-color: #ffffff;
  padding:1.5em 0 1.2em 0;
  border-top:1px solid #dddddd; 
}


.hi-logo {
	height:3em;
	width:auto;
	margin-top:-1em;
	margin-bottom:-1em;
	}

.transparent {
	background:none !important;
	}

.navbar-brand img {
	margin-top:-5px;
	}


.navbar, .navbar a {
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight:300;
	}

.nav li a:hover {
	background:none;
	font-weight:500;
	}

	
.card-dataset {
	width:150px;
	float:left;
	margin-right:1em;
	margin-bottom:.5em;
	}

.card-dataset .btn {
	margin-bottom:.5em ;
	}
	
.card-dataset .explore {
	padding-top:2em ;
	padding-bottom:2em ;
	}
	
 .btn-primary {
	 font-weight:500;
	 }

 .jumbotron .btn-primary {
	 background-color:#ffffff;
	 border-color:#595959;
	 color:#595959;
	 }
	 
.btn-blank {
	 background:none;
	 color:#595959;
	}
	 
.list-group {
    list-style: decimal inside;
	border:none;
}

.list-group-item {
    display: list-item;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:2px solid #e6e6e6;
	padding: 10px 0px;
}

.nav-tabs .active {
	font-weight:500;
	}
	
.names-form {
	display:inline-block;
	}

.names-form ul{
	padding: 0px;
	}

.names-form li{
	list-style:none;
	margin-bottom:2px;
	padding: .2em 0px;
	
	}

.item-element {
	display:block;
	padding:.5em 1em;
	margin-bottom:.5em;
	border:1px solid #d4e9e3;
	border-radius:6px;
	color:#269075;
	}
	
.from-excel {
	color:#486B61;
}

.from-excel img {
	height:1em;
	width:auto;
}


.excel-tab {
	display:block;
	color:#a9a9a9;
	font-size:.8em;
	font-weight:300;
	}

.excel-tab img {
	height:.8em;
	width:auto;
}

.excel-icon {
	
	fill: #a9a9a9;
		} 

.table-obtrusive th, .table-obtrusive td{
	color:#a9a9a9;
	}

.upload-bg {
	background-image:url(../images/bg-upload.gif);
	background-position:right;
	background-size:contain;
	background-repeat:no-repeat;
	}
	

table .ignored {
	opacity: 0.2;
}

.pad-6-12 {
	padding: 6px 12px;
}

/* Facets */
	
.facet {
	margin-bottom:2em;
	}

.facet h2{
	font-size:1em;
	}

.facet-items-box {
	border-top:1px solid #eeeeee;
	padding-top:.7em;
	overflow-y: auto;
	max-height: 175px;
	}
	
.facet-item {
	margin-bottom:.5em;
	cursor:pointer;
	}

.facet-check-box {
	width:1em;
	height:auto;
	padding-top: 3px;
	margin-right:.5em;
	float: left;
	fill: #f9f9f9;
	stroke: #414042;
	stroke-width: 1;
}


svg.facet-check-box.checked {
	fill: #d5e6f1
}

.facet-item-count {
	}

.facet-extra {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;

}

.basic-facet:hover .facet-extra {
	opacity: 1;
}
.facet-extra-space {
	padding-top:10px;
	height:40px;
	}
.downcase-then-capitalize {
	text-transform:lowercase;
}

.downcase-then-capitalize:first-letter {
	text-transform:uppercase;
}


/* results */
.result-list ol{
	padding:0px;
	margin:0 0 0 0;
	list-style-type: none;
	}

.result-list li{
	padding:.5em 0 .5em 0;
	counter-increment: step-counter;
	border-top:1px solid #eeeeee;
	cursor:pointer;
  	
	}

.result-list li:hover{
	font-weight:500;
  	
	}
	
.result-list li::before {
  content: counter(step-counter);
  font-size:.8em;
  color:#cccccc;
  width:30px;
  display:inline-block;
  
}

/* detail page */

.img-portrait  {
	height:150px;
	width:auto;
	
	}
#born-died {
	width:45px;
	height:auto;
	}

