@charset "UTF-8";
/* CSS Document 

*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,500,500i|Secular+One';
HTML {
	height:100%;
	}


body {
	font-weight:300;
	height:100%;
	}

strong {
	font-weight:500;
	}

.hi-Green {
	background-color: #269075;
	}

.hi-Green p a{
	color:#d7f3fd;
	text-decoration:underline;
	}

.hi-light-grey {
	color:#a9a9a9
	}



.hi-light-grey-bg {
	background-color:#f9f9f9;
	}

.hi-light-blue-bg {
	background-color:#ebf7ff
	}

.hi-half-transp {
	opacity:.33;
	}

.hi-success {
	color:#43ba6d
	}

.hi-italic {
	font-style:italic;
	}

.logo {
	height:1.5em;
	width:auto;
	}


	
.huygens-corner {
	position:absolute;
	right:0px;
	top:0px;
	width:160px;
	height:auto;
	}