<?xml version="1.0" encoding="UTF-8"?>
<!-- #%L Timbuctoo tools example configuration ======= Copyright (C) 2012 
  - 2014 Huygens ING ======= This program is free software: you can redistribute 
  it and/or modify it under the terms of the GNU General Public License as 
  published by the Free Software Foundation, either version 3 of the License, 
  or (at your option) any later version. This program is distributed in the 
  hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
  warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
  GNU General Public License for more details. You should have received a copy 
  of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/gpl-3.0.html>. 
  #L% -->

<config version="0.1">
  <settings>
    <project>
      <name>Repository webservice</name>
      <desc>Repository project.</desc>
      <owner>Huygens ING</owner>
      <internalname>repository</internalname>
    </project>
    <database>
      <!-- Mongo database -->
      <host>{server}</host>
      <name>{db name}</name> <!-- Could be any name if none is created -->
      <port>{port}</port> <!-- default mongo port is 27017 -->
      <user>{user name}</user>
      <password>{password}</password>
    </database>
    <solr>
      <!-- server_type could be LOCAL or REMOTE. When LOCAL is used a "directory" 
        property is expected. When REMOTE is used a "url" property is needed. -->
      <server_type>LOCAL</server_type>
      <commit_within_seconds>10</commit_within_seconds>
      <use_user_home>true</use_user_home> <!-- does solr use the user home dir -->
      <directory>{dir}</directory> <!-- folder to find solr cores in. -->
      <!-- Maximum time before a commit in ms -->
      <commit_within>10000</commit_within>
    </solr>
    <!-- Used to determine which packages contain the domain model classes. -->
    <model-packages>
      timbuctoo.model
      timbuctoo.model.base
      timbuctoo.model.dwcbia
      timbuctoo.model.ckcc
      timbuctoo.model.dcar
      timbuctoo.model.test
    </model-packages>
  </settings>
</config>
