<?xml version="1.0" encoding="UTF-8"?>
<config version="0.1">
	<settings>
		<paths> <!-- located inside user.home -->
			<solr>repository/solr</solr>
			<source>data/source</source>
			<json>data/json</json>
			<web>../web</web>
		</paths>
		<database>
			<type>mongocombo</type>
			<host>localhost</host>
			<name>repository</name>
			<port>27017</port>
			<user>test</user>
			<password>test</password>
		</database>
		<apis>
			<key>university-foo</key>
			<secret>58b749f7-acb3-44b7-a38c-53d5ad740cf6</secret>
			<server>http://localhost:8086/v1/tokeninfo?access_token=%s</server>
		</apis>
		<handle>
			<cipher>G8jUp6Ha</cipher>
			<naming_authority>0.NA</naming_authority>
			<prefix>11151</prefix>
			<private_key_file>resources/admpriv.bin</private_key_file>
		</handle>
		<model-packages>
			nl.knaw.huygens.repository.model
			nl.knaw.huygens.repository.model.dwcbia
			nl.knaw.huygens.repository.model.raa
		</model-packages>
		<solr>
			<config>solrconfig.xml</config>
		</solr>
		<use-handle-system>true</use-handle-system>
		<use-security>false</use-security>
		<doctypes>person</doctypes>
		<variationdoctypes>person</variationdoctypes>
		<indexeddoctypes>person</indexeddoctypes>
		<versioneddoctypes>person,user</versioneddoctypes>
		<defaultdoctype>person</defaultdoctype>
		<public_url>http://localhost:8080/repository/</public_url>
		<feed>
			<title>Repository changes</title>
		</feed>
		<project>
			<name>Repository webservice</name>
			<desc>Repository project.</desc>
			<owner>Huygens ING</owner>
			<internalname>repository</internalname>
		</project>
		<html>
			<defaultstylesheet>/static/css/static-html.css</defaultstylesheet>
		</html>
	</settings>
</config>
