<?xml version="1.0" encoding="UTF-8"?>
<config version="0.1">
  <settings>
    <project>
      <name>Repository webservice</name>
      <desc>Repository project.</desc>
      <owner>Huygens ING</owner>
      <internalname>repository</internalname>
    </project>
    <database>
      <!-- Mongo database -->
      <host>localhost</host>
      <name>repository</name>
      <port>27017</port>
      <user>test</user>
      <password>test</password>
    </database>
    <solr>
      <!-- Solr server -->
      <config>solrconfig.xml</config>
      <!-- Maximum time before a commit in ms -->
      <commit_within>10000</commit_within>
    </solr>
    <messages>
      <!-- ActiveMQ message broker -->
      <broker_url>vm://localhost</broker_url> <!-- embedded -->
    </messages>
    <security>
      <enabled>false</enabled>
      <apis>
        <!-- Apis security server -->
        <cache>true</cache>
        <key>be69631f-bd25-4f93-9eaf-90853f6caace</key>
        <secret>b8257bfc-ceb0-4ef5-a0d0-d643ba1ee3a6</secret>
        <server>http://demo17.huygens.knaw.nl/apis-authorization-server/v1/tokeninfo</server>
    </apis>
    </security>
    <handle>
      <!--  persistency server -->
      <enabled>false</enabled>
      <cipher>G8jUp6Ha</cipher>
      <naming_authority>0.NA</naming_authority>
      <prefix>11151</prefix>
      <private_key_file>repository/resources/admpriv.bin</private_key_file>
    </handle>
    <paths>
      <!-- located inside user.home -->
      <solr>repository/solr</solr>
      <source>data/source</source>
      <json>data/json</json>
      <web>../web</web>
    </paths>
    <model-packages>
      nl.knaw.huygens.repository.model
      nl.knaw.huygens.repository.model.ckcc
      nl.knaw.huygens.repository.model.dwcbia
      nl.knaw.huygens.repository.model.raa
    </model-packages>
    <doctypes>person,place</doctypes>
    <variationdoctypes>person,place</variationdoctypes>
    <indexeddoctypes>person,place</indexeddoctypes>
    <versioneddoctypes>person,place,user</versioneddoctypes>
    <public_url>http://localhost:8080/repository/</public_url>
    <feed>
      <title>Repository changes</title>
    </feed>
    <html>
      <defaultstylesheet>/static/css/static-html.css</defaultstylesheet>
    </html>
  </settings>
</config>
