<?xml version="1.0" encoding="UTF-8"?>
<config version="0.1">
	<settings>
		<database>
			<host>localhost</host>
			<name>repository</name>
			<port>27017</port>
			<user>repo</user>
			<password>testrepo</password>
		</database>
		<doctypes>person</doctypes>
		<defaultdoctype>person</defaultdoctype>
		<public_url>https://repository.huygens.knaw.nl/</public_url>
		<project>
			<name>Huygens Central Data Repository</name>
			<desc>STORE ALL THE THINGS</desc>
			<owner>Huygens ING</owner>
		</project>
	</settings>
</config>